Flask
Flask-RESTful
Flask-JWT

# SQL 
flask-SQLAlchemy 
psycopg2 
Flask-Migrate
Flask-Script

# flask with mongo
pymongo
Flask-PyMongo
flask_pymongo
bson

# cors
flask_cors

# sockets and events
flask-socketio
eventlet
gevent

#kafka stuff
kafka-python

#rabitMQ stuff
pika

## Test
pytest

# server
uwsgi